*{
margin: 0;
padding: 0;
border: 0;
}

h1 {
    font-size: 30px;
}

P {
    font-size: 20px;
}

body{
    width: 100%;
height: 100%;     
background-color: rgba(82, 161, 167, 0.61);
color: white;
}

header {
background: url("./Bella-Campos-1.webp");
background-position: center;

height: 300px;
display: flex;
align-items: center;
justify-content: center;

}